<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
    <div class="col-4 offset-4 mb-3">
        <h3>Login</h3>
        <form method="post" action="/user/login" class="needs-validation signup mt-3" novalidate>
            <div class="mb-3 ms-4 me-4 mt-3">
                <label for="username" class="form-label ">Username</label>
                <input id="username" type="text" placeholder="Enter your username" name="username" class="form-control" required>
            </div>
            <div class="mb-3 ms-4 me-4">
                <label for="password" class="form-label ">Password</label>
                <input id="password" type="password" placeholder="Enter a password" name="password" class="form-control" required>
            </div>
            <button class="btn btn-dark btn-lg ms-4">Login</button>
            <p class="ms-4">Don't have account? <a href="/user/signup" class="redirect">Sign up</a></p>
        </form>
    </div>
</div>